<div class="flex flex-col gap-6 w-full">
  <div class="flex flex-row justify-between items-center">
    <h1 class="font-semibold text-2xl">Licenses</h1>
    <%= link_to "New License", new_customer_license_path(customer_id: @customer), class: "p-2 bg-blue-500 text-white rounded" %>
  </div>

  <%= turbo_frame_tag "licenses", target: :_top do %>
    <div data-controller="pagination">
      <%= form_for :search, method: :get, html: { class: "flex flex-row gap-2 mb-4 w-full" } do |f| %>
        <%= f.text_field :query, value: params.dig(:search, :query), placeholder: "Search by license key or product name", class: "border border-gray-500 rounded p-2 flex-grow" %>
        <%= f.submit "Search", class: "p-2 bg-black text-white rounded cursor-pointer" %>
      <% end %>

      <div class="flex flex-col" data-pagination-target="list">
        <% if @page.records.empty? %>
          <span class="text-gray-400">No licenses</span>
        <% else %>
          <%= render @page.records %>
        <% end %>
      </div>

      <div class="flex flex-row justify-between items-center justify-center p-4">
        <% unless @page.last? %>
          <%= link_to "Show more", customer_licenses_path(customer_id: @customer, page: @page.next_param), class: "p-2 border border-black rounded", data: { pagination_target: "nextPageLink", action: "pagination#loadNextPage" } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
