<div class="flex flex-col gap-6 w-full" data-controller="pagination">
  <div class="flex flex-row justify-between items-center">
    <h1 class="font-semibold text-2xl">Products</h1>
    <%= link_to "New Product", new_product_path, class: "p-2 border border-black rounded" %>
  </div>

  <%= form_for :search, method: :get, html: { class: "flex flex-row gap-2 mb-4 w-full" } do |f| %>
    <%= f.text_field :query, value: params.dig(:search, :query), placeholder: "Search by name or repository", class: "border border-gray-500 rounded p-2 flex-grow" %>
    <%= f.submit "Search", class: "p-2 bg-black text-white rounded cursor-pointer" %>
  <% end %>

  <div class="flex flex-col" data-pagination-target="list">
    <%= render @page.records %>
  </div>

  <div class="flex flex-row justify-between items-center justify-center mb-4">
    <% unless @page.last? %>
      <%= link_to "Show more", products_path(page: @page.next_param), class: "p-2 border border-black rounded", data: { pagination_target: "nextPageLink", action: "pagination#loadNextPage" } %>
    <% end %>
  </div>
</div>
